<div class="contenu">
  <div class="d-flex">
    <input [(ngModel)]="nouvelleUrlImage" />
    <div (click)="onAjoutImage()" class="bouton">
      <span>Ajouter l'image</span>
    </div>
  </div>

  <div class="liste-categories">
    @for (categorie of categories(); track indexCategorie; let indexCategorie = $index) {
      <div class="categorie">
        <div class="en-tete">
          <span>{{ categorie.titre }}</span>
        </div>

        <div class="images">
          @for (urlImage of categorie.images; track indexImage; let indexImage = $index) {
            <!-- <img src="{{ urlImage }}" /> -->
            <div class="image">
              <img [attr.src]="urlImage" />
              <div
                (click)="onSuppressionImage(indexCategorie, indexImage)"
                class="bouton bouton-supprimer"
              >
                <span>x</span>
              </div>

              @if (indexCategorie != 0) {
                <div (click)="onDeplacement(indexCategorie, indexImage)" class="bouton bouton-haut">
                  <span>+</span>
                </div>
              }

              @if (indexCategorie < categories.length - 1){
                <div
                  (click)="onDeplacement(indexCategorie, indexImage, false)"
                  class="bouton bouton-bas"
                >
                  <span>-</span>
                </div>
              }
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
